# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Logs
*.log

# OS-spezifisch
.DS_Store
Thumbs.db

# GitHub Actions artifacts (optional)
*.jar
/site/
